.labels {
  display: inline-block;
  text-align: right;
  width: 350px;
}

.heading {
  text-align: right;
}

.heading-div {
  margin: 20px 0px 70px 0px;
}

.divs {
  margin: 10px 0px 10px 0px;
}

.footer-div {
  margin: 70px 0px 40px 0px;
}

.mybtn{
	padding:5px 45px 5px 45px;
	margin: auto;
}

.center{
	margin: auto;
}

.center-text{
	text-align: center;
}​